
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffafc;
}


header {
    background: linear-gradient(90deg, #aee1f9, #e3f8ff);
    color: #004e74;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


header .logo h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #004e74;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {

    color: #ff6fa0;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


main {
    text-align: center;
    margin-top: 80px;
}



p {
    color: #333;
}

header h1 {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 220px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
}
footer {
    background-color: #aee1f9;
    color: #004e74;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 14px;
}